<%- include('partials/head.ejs'); %>
<%- include('partials/nav.ejs'); %>


 <!--==========Order Summary Section==========-->
 <div class="container">
  <main>
    <div class="py-5 text-center">
      <h1>Your Cart</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-4 col-lg-10 mx-auto">

      
        <h4 class="d-flex justify-content-end align-items-center mb-3 text-end">
          <span class="badge bg-primary rounded-pill"><%= totalQuantity %></span>
        </h4>

        <table class="table border">
          <thead class="text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% carts.forEach(function(cart, index){ %>

            <tr>
              <th scope="row" class="text-center"><%= index+1 %></th>
              <td>
                <div>
                  <h6 class="my-0"><%= cart.product.name %></h6>
                  <small class="text-body-secondary"><%= cart.product.description %></small>
                </div>              </td>
              <td class="text-center"><%= cart.quantity %></td>
              <td class="text-center"><%= cart.product.price %> AUD</td>
              <td class="text-center"><%= cart.totalPrice%> AUD</td>
              <td class="text-center"><a href="/remove/<%= cart.product.id %>" class="text-decoration-none px-2 text-danger">Remove</a></td>
            </tr>
            <% }) %>


          </tbody>
        </table>
       
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (AUD)</span>
            <strong><%= totalPrice %></strong>
          </li>
  
      </div>
    </div>
  </main>
</div>


<!-- JS scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
crossorigin="anonymous"></script>
